<%= form_with model:post, url: url do |f| %>
	<%#= render 'layouts/error_messages', resource: post %>
	<div class="flex">
		<div>
			<%= f.label :image, "画像" %>
			<div class="image_field">
				<tr>
				  <td><%= f.label :商品画像 %></td>
                  <td><%= f.file_field :image,accept: "image/*" %></td>
				</tr>
			</div>
		</div>
		<table class="post_info post_form">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :title, "タイトル" %></td>
					<td><%= f.text_field :title %></td>
				</tr>
				<tr>
					<td><%= f.label :text, "本文" %></td>
					<td><%= f.text_area :text, rows: 3 %></td>
				</tr>
				<tr>
				    <td>公開ステータス</td>
				</tr>
			</tbody>
		</table>
		<div class="flex align-center pl5">
			<%= f.submit submit, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>