<section class="inner">
	<h2 class="section-ttl">投稿詳細</h2>
	<div class="flex">
		<table class="post_info">
			<thead>
					<th>ニックネーム</th>	
					<th>タイトル</th>
					<th>本文</th>
					<th>タグ</th>
					<th>コメント数</th>
					<th></th>
			</thead>
			<tbody>
				<tr>
					<td><%= @post.nickname %></td>
				    <td><%= @post.title %></td>
					<td><%= @post.text %></td>
					<td>
					  <div class="tags">
                      <% if @tags.present? %>
                      <div class="d-flex flex-wrap">
                      <% @tags.each do |tag| %>
	                  <span class="badge badge-info mr-2 mb-2">
	                  <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "text-white" %>
	                  </span>
                      <% end %>
                      </div>
                      <% else %>
                      <p>登録されているタグはありません</p>
                      <% end %>
                      </div>	
					</td>
					<td><%= @post.post_comments.count %></td>
					<td>
					  <%= image_tag @post.get_image, size:'300x200', id: "img_prev", class: "post_image" %><br>
					  <% @post.vision_api_tags.each do |vision_api_tag| %>
					  <span class="label"><%= vision_api_tag.name %></span>
					  <% end %>
					</td>
					<td><%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %></td>
				</tr>
			</tbody>
		</table>
		<div>
			<div class="comment">
				<%= render "public/post_comments/index", post: @post %>
			</div>
		</div>
		<div>
			<div class="form mr-2 mb-2">
				<%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
			</div>
		</div>
	</div>
</section>