<!DOCTYPE html>
<html>
  <head>
    <title>Overcome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8e82bab10b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <% if customer_signed_in? %>
          <%= render 'layouts/header_customer' %>
        <% elsif admin_signed_in? %>
          <%= render 'layouts/header_admin' %>
        <% else %>
          <%= render 'layouts/header_logout' %>
        <% end %>
    </header>
    <div class="success-message"></div>
    <%= yield %>
  </body>
</html>
