<!DOCTYPE html>
<html>
  <head>
    <title>Overcome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="<%= (admin_signed_in? ? "admin_header" : "") %>">
      <div class="header-content">
        <%= link_to 'Overcome', (admin_signed_in? ? admin_top_path : root_path), class: "logo" %>
        <ul class="flex">
          <% if admin_signed_in? %>
          <li>投稿一覧</li>
          <li>ニュース一覧</li>
          <li>会員一覧</li>
          <li>ジャンル一覧</li>
          <li>ログアウト</li>
          <% elsif customer_signed_in? %>
          <p>ようこそ、<%= current_customer.nickname %>さん！</p>
          <li>マイページ</li>
          <li>投稿一覧</li>
          <li>ニュース一覧</li>
          <li>ログアウト</li>
          <% else %>
          <li>About</li>
          <li>新規登録</li>
          <li>ログイン</li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
